<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.medcare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_custom">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_k" />

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme_custom" />
        <activity
            android:name=".PlayerViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/player"
            android:parentActivityName=".MedViewActivity"
            android:theme="@style/AppTheme_custom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedViewActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListItemActivity"
            android:label="@string/title_activity_list_farmaci"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme_custom"/>
    </application>

</manifest>